@page "/history"

<PageTitle>Historia Toyota Hilux</PageTitle>

<div class="container my-5">
    <h1 class="mb-5 text-center">Historia Toyota Hilux</h1>

    <div class="timeline">
        <div class="row mb-5">
            <div class="col-md-3"><strong>1968</strong></div>
            <div class="col-md-9">
                <img src="/images/hilux-1968.jpg" class="img-fluid rounded mb-3" alt="Hilux 1968" />
                <p>Początek produkcji – model nazywany początkowo "Hi-Lux". Dostępny jako kompaktowy pickup z silnikami benzynowymi.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-3"><strong>1972–1988</strong></div>
            <div class="col-md-9">
                <img src="/images/hilux-1980.jpg" class="img-fluid rounded mb-3" alt="Hilux 1980" />
                <p>II, III i IV generacja – wzrost popularności, wprowadzenie diesli, eksport na cały świat.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-3"><strong>1997–2004</strong></div>
            <div class="col-md-9">
                <img src="/images/hilux-2000.jpg" class="img-fluid rounded mb-3" alt="Hilux 2000" />
                <p>VI generacja – ogromny skok jakości i komfortu.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-3"><strong>2004–2015</strong></div>
            <div class="col-md-9">
                <img src="/images/hilux-2010.jpg" class="img-fluid rounded mb-3" alt="Hilux 2010" />
                <p>VII generacja – legenda niezniszczalności potwierdzona w programie Top Gear.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>2015–obecnie</strong></div>
            <div class="col-md-9">
                <img src="/images/hilux-2024.jpg" class="img-fluid rounded mb-3" alt="Hilux 2024" />
                <p>VIII generacja – nowoczesne technologie, hybryda (od 2024), jeszcze wyższa trwałość.</p>
            </div>
        </div>
    </div>
</div>