@page "/specs"

<PageTitle>Dane techniczne Toyota Hilux</PageTitle>

<div class="container my-5">
    <h1 class="mb-4">Dane techniczne – Toyota Hilux 2025 (VIII generacja facelift)</h1>

    <img src="/images/hilux-spec.jpg" class="img-fluid rounded shadow mb-5" alt="Toyota Hilux 2025" />

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Parametr</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            <tr><td><strong>Silnik</strong></td><td>2.8 D-4D (diesel) lub 2.7 benzyna / hybryda</td></tr>
            <tr><td><strong>Moc</strong></td><td>204 KM (2.8 D-4D) / 207 KM (hybryda)</td></tr>
            <tr><td><strong>Moment obrotowy</strong></td><td>500 Nm</td></tr>
            <tr><td><strong>Skrzynia</strong></td><td>6-biegowa manualna / 6-biegowa automatyczna</td></tr>
            <tr><td><strong>Napęd</strong></td><td>4x4 z reduktorem</td></tr>
            <tr><td><strong>Ładowność</strong></td><td>do 1000 kg</td></tr>
            <tr><td><strong>Zdolność terenowa</strong></td><td>Kąt rampowy 30°, brodzenie do 700 mm</td></tr>
            <tr><td><strong>Zużycie paliwa (mieszane)</strong></td><td>~8–10 l/100 km</td></tr>
        </tbody>
    </table>

    <p class="mt-4"><em>przykładowe dane </em></p>
</div>